---
import Layout from '../layouts/Layout.astro';
import Aside from '@components/Aside.astro';
import Main from '@components/Main.astro';
import MoveIcon from '@components/assets/icons/move.astro'

---

<Layout title="Welcome to Astro.">
	<button id="hideButton" class=" md:hidden fixed top-5 left-5 z-40">
		<svg class="size-10" viewBox="0 0 24 24">
			<MoveIcon/>
		</svg>
	</button>
	<Aside class=""/>
	<Main class=""/>
</Layout>
<style>
	body{
		font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
	}
</style>