<svg width="72" height="72" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 72 72" class="size-6">
	<style type="text/css">.st0{fill:#20385B;}
	   .st1{fill:#0082FF;}
	   .st2{fill:url(#SVGID_1_);}
	   .st3{fill:url(#SVGID_00000160896060327195637080000015721837646796660413_);}
	   .st4{fill:#0052CC;}</style>
	<g class="layer">
	 <title></title>
	 <g id="svg_1">
	  <g id="Logo_Lock-up">
	   <path class="st1" d="m68.8,0l-34.6,0c0,8.6 7,15.6 15.6,15.6c0,0 0,0 0,0l6.4,0l0,6.1c0,8.6 7,15.6 15.6,15.6l0,0l0,-34.3c0,-1.7 -1.4,-3 -3,-3l0,0z" id="svg_2"/>
	   <linearGradient gradientTransform="translate(-121.1 -54.2) translate(47 49) translate(47 -78) matrix(1 0 0 -1 0 202)" gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="81.0326" x2="66.3226" y1="101.5272" y2="86.3572">
		<stop offset="0.18" stop-color="#0050D3"/>
		<stop offset="1" stop-color="#0082FF"/>
	   </linearGradient>
	   <path class="st2" d="m51.7,17.2l-34.6,0c0,8.6 7,15.6 15.6,15.6l6.4,0l0,6.2c0,8.6 7,15.6 15.6,15.6l0,-34.3c0,-1.7 -1.4,-3.1 -3,-3.1l0,0z" id="svg_3"/>
	   <linearGradient gradientTransform="translate(-121.1 -54.2) translate(47 49) translate(47 -78)" id="SVGID_00000142868825077026769710000002171626036159817864_" x1="1.00779" x2="0.55426" y1="0.00529" y2="0.44899">
		<stop offset="0.18" stop-color="#0050D3"/>
		<stop offset="1" stop-color="#0082FF"/>
	   </linearGradient>
	   <path d="m34.6,34.4l-34.6,0c0,8.6 7,15.6 15.6,15.6l0,0l6.3,0l0,6.1c0,8.6 7,15.6 15.6,15.6l0,0l0,-34.4c0.1,-1.5 -1.3,-2.9 -2.9,-2.9z" fill="url(#SVGID_00000142868825077026769710000002171626036159817864_)" id="svg_4"/>
	  </g>
	 </g>
	</g>
   </svg>