<svg width="1394" height="460"  viewBox="0 0 1394 460" class="h-6 w-20" xmlns="http://www.w3.org/2000/svg">
    <g class="layer">
     <title></title>
     <g id="svg_1">
      <svg class="size-6" height="584.000000pt" id="svg_2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1120.000000 584.000000" width="1120.000000pt" x="-48.796314" xmlns="http://www.w3.org/2000/svg" y="-160.552536">
       <g fill="#FFFF" id="svg_3" transform="translate(0.000000,584.000000) scale(0.100000,-0.100000)">
        <path d="m10431,4625c-99,-28 -163,-84 -209,-183c-21,-47 -24,-64 -20,-136c7,-127 60,-211 170,-266c51,-25 73,-30 133,-30c103,0 159,22 226,89c68,68 94,133 93,233c-3,198 -201,346 -393,293z" id="svg_4"/>
        <path d="m9187,4170c-63,-16 -142,-58 -191,-101c-60,-53 -930,-1195 -970,-1274c-29,-57 -31,-66 -31,-175c0,-105 2,-120 27,-170c32,-66 121,-158 187,-194c101,-54 122,-56 673,-56l508,0l0,-230l0,-230l190,0l190,0l0,230l0,230l140,0l140,0l0,165l0,165l-140,0l-139,0l-3,638c-3,631 -4,638 -26,696c-49,130 -126,214 -250,274c-66,31 -84,35 -170,38c-54,2 -114,-1 -135,-6zm172,-376l31,-26l0,-619l0,-619l-481,0l-481,0l-29,29c-37,38 -38,75 -1,128c82,122 840,1113 857,1122c35,17 72,12 104,-15z" id="svg_5"/>
        <path d="m2125,3899c-298,-43 -529,-200 -656,-445c-88,-170 -109,-300 -109,-684l0,-297l53,18c69,24 194,24 264,1l51,-18l5,305c5,337 11,381 69,499c85,172 247,272 465,287c163,12 337,-39 440,-129c60,-52 119,-146 150,-239l28,-82l3,-592l3,-593l190,0l191,0l-5,588c-4,485 -7,601 -20,667c-81,403 -329,645 -728,710c-101,16 -296,18 -394,4z" id="svg_6"/>
        <path d="m4297,3895c-482,-91 -800,-458 -824,-951c-22,-441 211,-823 599,-985c159,-66 364,-95 545,-78c363,33 643,208 803,500c22,41 40,77 40,82c0,4 -90,7 -200,7l-200,0l-72,-73c-128,-129 -248,-172 -478,-171c-130,0 -154,3 -225,27c-142,48 -242,120 -317,229c-39,58 -89,178 -101,246l-6,32l844,0l845,0l0,53c0,107 -20,285 -40,362c-75,285 -264,514 -525,636c-145,68 -253,91 -445,95c-116,2 -188,-1 -243,-11zm405,-350c179,-46 324,-161 397,-316c22,-46 43,-96 47,-111l6,-28l-637,0l-637,0l6,33c14,75 78,181 155,258c99,99 188,145 336,175c85,17 238,11 327,-11z" id="svg_7"/>
        <path d="m6569,3894c-109,-19 -260,-76 -352,-131c-154,-92 -312,-269 -382,-427c-172,-388 -95,-867 184,-1154c199,-203 454,-305 766,-304c137,0 215,10 330,44c334,97 590,361 676,697c63,247 39,510 -69,735c-142,294 -398,483 -736,541c-108,18 -313,18 -417,-1zm404,-350c84,-21 171,-64 239,-118c303,-240 318,-774 30,-1037c-71,-64 -137,-102 -237,-136c-71,-24 -95,-27 -220,-27c-125,0 -149,3 -220,27c-111,37 -197,91 -270,169c-104,113 -160,251 -172,423c-24,371 198,660 549,715c73,12 225,4 301,-16z" id="svg_8"/>
        <path d="m10318,2802l-3,-1047l-32,-66c-50,-102 -139,-148 -280,-149l-53,0l0,-160l0,-160l98,0c275,1 476,104 565,292c84,175 87,219 87,1376l0,962l-190,0l-190,0l-2,-1048z" id="svg_9"/>
        <path d="m624,2970c-99,-20 -181,-81 -224,-167c-37,-73 -41,-193 -7,-265c34,-75 78,-122 149,-158c52,-26 72,-30 138,-30c65,0 86,4 135,29l59,30l170,-119l171,-118l0,-93l-1,-93l-170,-117l-171,-117l-58,29c-48,24 -70,29 -130,29c-103,0 -159,-22 -226,-89c-68,-68 -94,-134 -93,-231c3,-165 138,-301 302,-304c133,-1 234,60 292,178c29,58 31,71 28,144l-3,80l175,120l175,120l40,-24c66,-38 133,-48 205,-30c246,63 321,364 134,535c-96,88 -225,106 -331,47l-47,-27l-175,118l-174,119l2,85c1,74 -2,91 -27,144c-61,128 -205,202 -338,175z" id="svg_10"/>
       </g>
      </svg>
     </g>
    </g>
</svg>